body {
    background-image: url("memphis-mini.png");
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 40%;
    margin: 2em auto;
}
main h1 {
    color: #347474;
    text-align: center;
    font-size: 3.5em;
}
main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
main ul li {
    width: calc(100% - 2em);
    padding: 1em .5em;
    font-size: 1em;
    background: #347474;
    margin: 0.25em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: grab;
}
main ul li span {
    width: 100%;
}
main button {
    font-size: 1em;
    background: none;
    border: none;
    color: #fff;
}
main button#create {
    width: calc(100% - 1em);
    padding: 1em .5em;
    margin: 0;
    font-size: 1em;
    background: none;
    color: #347474;
    border: solid .25em;
}

/*#list{
    background-color: #445c3c;
    max-width: 40%;
    margin: 2em auto;
    padding: 2em 0;
    border-radius: .5em;
}*/

/*button {
    border: 0;
    outline: 0;
    background-color: #EEE;
    color: #445c3c;
    border-radius: 16px;
    margin-left: 6%;
    margin-bottom: 3%;
    padding: 8px 18px 8px 18px;
    font-size: 0.8em;
}
button#create {
    margin-bottom: 2%;
}*/

/*#items{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    list-style: none;
    font-size: 1.5em;
    background-color: #fff;
    color: #445c3c;
    margin-bottom: 3%;
    padding: 4%;
}*/
/* #status{
    width: 5%;
    float: right;
    background-color: #EEE;
    color: #445c3c;
	border-radius: 16px;
    margin-right: 6%;
    margin-bottom: 2%;
	padding: 8px 18px 8px 2px;
	font-size: 0.8em;
} */


/*#nuevoItem{
    margin-top: 2%;
    margin-bottom: 5%;
    display: none;
}*/

