body {
    background-image: url("memphis-mini.png");
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 40%;
    margin: 2em auto;
}
main h1 {
    color: #348498;
    text-align: center;
    font-size: 3.5em;
}
main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
main ul li {
    width: calc(100% - 2em);
    padding: 1em .5em;
    font-size: 1em;
    background: #348498;
    margin: 0.25em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: grab;
}
main ul li span {
    width: 100%;
}
main button {
    font-size: 1em;
    background: none;
    border: none;
    color: #fff;
}
main button#create {
    width: calc(100% - 1em);
    padding: 1em .5em;
    margin: 0;
    font-size: 1em;
    background: none;
    color: #348498;
    border: solid .25em;
}
